[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment=Автоматический переключатель раскладки клавиатуры
Exec=kdeneur
Icon=kdexneur
Name=kdeNeur
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
Hidden=true

