[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=Office;
Exec=libreoffice --quickstart --nologo --nodefault
NoDisplay=true
Name=LibreOffice Quickstarter
Comment=Hook for quickstarter startup
X-GIO-NoFuse=true
X-KDE-Protocols=file,http,ftp,webdav
Hidden=true

