[Desktop Entry]
Icon=text-html
Name=4-seria-1-season.html
Type=Link
URL[$e]=http://2-5-cheloveka.com/online/1-season/4-seria-1-season.html
X-KDE-LastOpenedWith=chromium-browser
