[Desktop Entry]
Icon=audio-mpeg
Name=sberbank.phone.card.block.error.volume-up.mp3
Type=Link
URL[$e]=file://$HOME/temp/sberbank.card.block.error/sberbank.phone.card.block.error.volume-up.mp3
X-KDE-LastOpenedWith=kdialog
