[Desktop Entry]
Icon=text-html
Name=Special:UserMerge
Type=Link
URL[$e]=http://hubbitus.info/wiki/Special:UserMerge
X-KDE-LastOpenedWith=chromium-browser
