[Settings]
ShowAllProcesses=FALSE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=TRUE
ShowMemoryInXBytes=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=750
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=TRUE
ColumnState=TRUE
ColumnVSZ=TRUE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=7
SortType=1
WindowWidth=1228
WindowHeight=743
HandlePosition=100
ProcessTreeView=FALSE
