[Main]
Timeout=250
Timeout_Seconds=1
Use_Timeout_Seconds=true
Use_Click_Command=true
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=#11C000
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=#9D00C0
Text=mem

[SL_Swap]
Enabled=true
Use_Label=true
Color=#F0F000
Text=swap

[SL_Uptime]
Enabled=false

