[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pasha/Desktop/gnote.desktop]
row=0
col=1

[/home/pasha/Desktop/Home.desktop]
row=1
col=1

[764E2AA24E2A5ADF]
row=3
col=0

[5ac4d6b8-2dac-44ca-b985-590d866c6110]
row=2
col=0

[b59a7c8e-742b-401f-95df-1ba9e46a706d]
row=1
col=0

[remote]
row=1
col=2

[00FE2571FE255FE0]
row=2
col=2

[Корзина]
row=4
col=1

[/]
row=0
col=0

[/home/pasha]
row=2
col=1

